<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>manage - HelmSmart device preferences</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.unobtrusive-ajax.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.unobtrusive.js') }}"></script>
	 <script type="text/javascript" src="{{ url_for('static', filename='js/PGNSelectFunctions.js') }}" ></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script> -->
       <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
       <script type="text/javascript" src="{{ url_for('static', filename='js/jscolor.js') }} " ></script>
	   
	<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }} " ></script> -->
	   
	   
	   
	<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />  -->
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/fileuploadstyles.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/persona-buttons.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/helmsmart-buttons.css') }}"/> 
	

	 
	   <script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<style>
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #fff;
			background-color: #428bca; 
		}

		.tab-content {
			margin-top: 15px;
		}
		
		.row-disabled {
			  background-color: #e0e0e0; /* Gray out the row for visual feedback */
			  pointer-events: none; /* Prevents all mouse events */
			  opacity: 0.6; /* Optional: adds a faded look */
}

		.auto-style5 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: large;
          text-align: center;
          }
		  	.auto-style6 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: small;
          text-align: center;
          }
		  
		  .auto-style7 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 8pt;
          text-align: left;
		  width: 100px;
		  overflow: hidden;
          }
		  
		  td, th {
		  overflow-wrap: break-word; /* Standard property */
		  word-wrap: break-word;     /* Older alias for compatibility */
		  overflow-x: hidden;
		  overflow-y: hidden;
		  white-space: normal;       /* Ensures default wrapping behavior is maintained */
		}
		
		wrap-table {
		table-layout: fixed; /* Fixes column widths */
		width: 100%;         /* Sets overall table width */
	  }
	  .wrap-table td, .wrap-table th {
		overflow-wrap: break-word; /* Breaks long words if necessary */
		word-wrap: break-word;
		width: 33%; /* Example column width */
	  }
	  
	  table {
    width: 100%; /* Important for fixed layout to work correctly */
    table-layout: fixed; /* Forces fixed column widths */
    border-collapse: collapse;
}
	  
	  
	  truncate-text {
    overflow: hidden;
    white-space: normal; /* Prevents text from wrapping */
    text-overflow: ellipsis; /* Displays "..." for overflowing text */
}
	  
		  
	</style>

</head> 
<body>

<div>

<!--
<span>aws_userid: {{session['aws_userid']}}</span>

<span>email: {{session['aws_email']}}</span>
<span>aws_email_verified: {{session['aws_email_verified']}}</span>

<span>aws_phone: {{session['aws_phone']}}</span>
<span>aws_phone_verified: {{session['aws_phone_verified']}}</span>

<span>aws_name: {{session['aws_name']}}</span>

<span>aws_clientid: {{session['aws_clientid']}}</span>
<span>aws_domain: {{session['aws_domain']}}</span>
-->


	<center>
  
		<div>
		  <a width="250" href="http://helmsmart-ello.herokuapp.com/" id="hshome" >
		  <span width="250"><h2><b>Helmsmart: Dashboards </b></h2></span></a>
		  </div>
		  
	  {% if session['aws_email'] %}
		 <a href="https://helmsmart-ello.herokuapp.com/aws_alerts_logout" id="login" class="persona-button">
		<span>HelmSmart User: {{session['aws_email']}} : {{session['aws_username']}}</span></a>
	  
	  {% elif session['userid'] %}
		 <a href="https://helmsmart-ello.herokuapp.com" id="login" class="persona-button">
		<span>HelmSmart Email: {{session['username']}}</span></a>
	  {% else %}
		<a href="https://helmsmart-ello.herokuapp.com/aws_login" id="login" class="persona-button">
		  <span>HelmSmart Guest: click to login</span></a>
	  {% endif %}
  </center>
  

</div>



	<div class="container body-content">
		



<script type="text/javascript" src="{{ url_for('static', filename='js/support.js') }}" ></script>

<style>
	.form-group {
		margin-bottom: 5px;
	}

	.control-label {
		padding-right: 3px;
	}

	.timeAgo {
		color: gray;
	}

	.valueFormat {
		color: black;
	}

	#tabGeoFence .form-control-static,
	#tabGeoFence .control-label {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 6px;
	}

	input[type=checkbox] {
		margin-left: 0px !important;
	}
</style>

<script>
	$(function () {
		$(document).ajaxComplete(function (event, xhr, settings) {
			if (xhr.getResponseHeader('ReloadWholePage')) {
				window.location.reload();	//Reload the whole datapane
			}
		});
		
		$('.nav-tabs a[href="#tabBasicSettings"]').tab('show');
		//RegisterDevice();
		//GetAlertEvents();
		/*
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			GetAlertEvents();
				
		});
		*/
	});
	/*
	//DoOnChange is used in the Edit template for EventValue
	function DoOnChange(t) {
		if (t.value == 0)
			$('#' + t.id).nextAll('span:first').hide()
		else
			$('#' + t.id).nextAll('span:first').show()
	}

	
	$(function () {
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			GetAlertEvents();
				
		});
	});
	
	
	$(document).ready(function () {
$('.nav nav-tabs').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
 })
 

    $('.tabs').bind('change', function (e) {
        // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello");
        // Load data etc
    });
	
$('.nav-tabs').bind('change', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello");
        // Load data etc
    });
 
 
}); 
  */
  
  	/*
	$(document).ready(function () {
$('#tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
 })
}); 
  */
  
  
 
  
</script>


	
	



<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tab" role="tablist">
	<li><a href="#Subscriptions" role="tab" data-toggle="tab">Purchase 
	Subscription</a></li>
	<!-- <li><a href="#tabLive" role="tab" data-toggle="tab">Live</a></li> -->

	<li><a href="#tabBasicSettings" role="tab" data-toggle="tab">Summary</a></li>
	<li><a href="#tabModify" role="tab" data-toggle="tab">Modify</a></li> 
	<!--	<li><a href="#tabEvents" role="tab" data-toggle="tab">Events</a></li> -->
	<!--	<li><a href="#tabTriggers" role="tab" data-toggle="tab">Triggers</a></li> -->
	<!--	<li><a href="#tabGeoFence" role="tab" data-toggle="tab">GeoFence</a></li> -->
	<!--	<li><a href="#tabGeoFenceReport" role="tab" data-toggle="tab">Report</a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">

	<!-- Tab pane -->
	<div class="tab-pane" id="Subscriptions">
			<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HelmSmart Alerts</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.unobtrusive-ajax.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.unobtrusive.js') }}"></script>
	<style>
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #fff;
			background-color: #428bca;
		}

		.tab-content {
			margin-top: 15px;
		}
	</style>
	
<script type="text/javascript">

	var myAlertEmail  = new Array();
	var myAlertSMS  = new Array();
	var myDeviceName = new Array();
	var myDeviceID = new Array();
	var myDeviceKey = new Array();
	var myDeviceStatus = new Array();
	var myDeviceApiCount = new Array();
	
	var mySubscriptionType= new Array();	
	var mySubscriptionExpires= new Array();
	
	
	var timezoneOffset = 0;
	
	var index = 0;
	var gModifyIndex = 2048;
	
	var gUserID="a91140300971bfb9244989a9bffde53c";
	var gUserEmail="guest@helmsmart.com";
	//var gDeviceID="527805749392";
	var gDeviceID="";
	var gDeviceKey="";
	//var gDeviceName="001EC0B415C2:SSENETG2_SeaDream";
	var gDeviceName="";
	//var gBLWSKey="0b4eb181bac44020803de7a35be6fe62";
	var gBLWSKey="";
	gEMail = "";
	gSMSNumber="";
	
	var gAWSuserid = "000000000000"
	var gAWSAccessToken="";
	var gAWSDomain = "";
	var gAWSClientID = "";
	var gAWSUseid = "";
	var gAWSUsername = "";
	var gAWSPhone="";
	var gAWSAccountType = "primary user";
	
	gAWSEmailVerified = "false";
	gAWSPhoneVerified = "false";
	
	
	var pagetype=2;
	
	
  var AlertID=0;
  var device;
  var map;
  //var myLatlng;
  //var myOldLatlng;
  var gmarker;
  var geoRadius;
  
  var markers = new Array();
  var poly;
 // var myinfoWindow = new google.maps.InfoWindow;

  var polyOptions ;

  var gradientArray;
  var myPins = new Array();
  
     var myPinColors = ['3E147B', '3E147B','3E147B','3E147B','3E147B','3E147B', '3E147B','3E147B','3E147B','3E147B',
     '41137B', '47137B','4F127B','58107B','630F7B','6D0E7B', '780C7B','840A7B','90097B','9C087B',
     'A7067B', 'B3047B','BE047B','C7027B','D1017B','D9007B', 'DF007A','E20078','E20076','E20075',
     'E20072', 'E20070','E2006D','E2006B','E20068','E20064', 'E20061','E2005E','E2005A','E20057',
     'E20053', 'E2004F','E2004C','E20049','E20045','E20042', 'E2003F','E1003B','E00238','E00436',
     'DF0733', 'DF0B31','DF0E2E','DF122C','E0182A','E11F28', 'E22726','E42F25','E63922','E84320',
     'EB4F1F', 'EE5A1D','F1661C','F3721A','F37D19','F38A19', 'F39618','F3A216','F3AD16','F3B815',
     'F3C315', 'F3CC15','F3D515','F3DE15','F3E415','F3E915', 'F3EE15','EFEF15','E7EF16','DEEF17',
     'D3EF18', 'C8ED19','BAE91A','ADE31C','9EDD1D','8FD71F', '7ED021','6FC924','5FC127','51BA29',
     '42B32C', '34AC30','27A633','1BA137','109D3C','089A41', '009847','00984C','009852','009859',
     '009961', '009C69','009E72','00A07A','00A384','00A68D', '00AA97','00ADA1','00B1A9','00B4B3',
     '00B8BC', '00BCC5','00BECD','00C2D5','01C5DC','02C7E3', '04CAE9','04CBED','04CCF0','04CCF0',
     '04CCF0', '04CCF0','04CCF0','04CCF0','04CCF0','04CCF0', '04CCF0','04CCF0','04CCF0','04CCF0'];

    zpad.zeros = new Array(5).join('0');
    spad.spaces = new Array(7).join(' ');
	
	
	$(document).ready(function () {
	
	var myText;
	
	myuserid = "0";
    {% if session['userid'] %}
		myuserid = "{{session['userid']}}";
    {% else %}
    myuserid = "0";
    {% endif %}
	
    {% if session['username'] %}
		gUserEmail = "{{session['username']}}";
	{% endif %}
	
	{% if session['deviceapikey'] %}
		gDeviceKey = "{{session['deviceapikey']}}";
	{% endif %}
	
	{% if session['aws_username'] %}
		gAWSUsername = "{{session['aws_username']}}";
	{% endif %}
	
	
	{% if session['aws_domain'] %}
		gAWSDomain = "{{session['aws_domain']}}";
	{% endif %}
		
	{% if session['aws_clientid'] %}
		gAWSClientID = "{{session['aws_clientid']}}";
	{% endif %}
		

    {% if session['aws_userid'] %}
		gAWSuserid = "{{session['aws_userid']}}";
    {% endif %}

    {% if session['aws_email'] %}
		gUserEmail = "{{session['aws_email']}}";
    {% endif %}
	
	{% if session['aws_email'] %}
		gAWSPhone = "{{session['aws_phone']}}";
    {% endif %}
	
	{% if session['aws_account_type'] %}
		gAWSAccountType = "{{session['aws_account_type']}}";
    {% endif %}
	
	
	
	{% if session['aws_email_verified'] %}
		gAWSEmailVerified = "{{session['aws_email_verified']}}";
    {% endif %}

    {% if session['aws_phone_verified'] %}
		gAWSPhoneVerified = "{{session['aws_phone_verified']}}";
    {% endif %}
	
	

	
    getDeviceList(gUserEmail);

	
/*
$('.nav-tabs').bind('change', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello change");
        // Load data etc
    });
*/	
	$('.nav-tabs').bind('click', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
	//	if (e.target.hash == '#tabEvents')
			//GetAlertEvents();
			//alert("events tab");
			if (e.target.hash == '#tabGeoFence')
			setTimeout(initializeMaps, 10);	//Workaround for Bootstrap tabs and google maps center bug.
        //alert("hello click");
        // Load data etc
    });
 
/*
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			//GetAlertEvents();
				
		});
*/
	
	
}); 

    /* ******************  padding functions ************************************************ */

    function zpad(num, len) {
    var str = String(num),
    diff = len - str.length;
    if(diff <= 0) return str;
    if(diff > zpad.zeros.length)
        zpad.zeros = new Array(diff + 1).join('0');
    return zpad.zeros.substr(0, diff) + str;
}

function spad(num, len) {
    var str = String(num),
        diff = len - str.length;
    if(diff <= 0) return str;
      if(diff > spad.spaces.length)
      spad.spaces= new Array(diff + 1).join(' ');
      return spad.spaces.substr(0, diff) + str;
      }
	  
Date.isLeapYear = function (year) { 
    return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0)); 
};

Date.getDaysInMonth = function (year, month) {
    return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
};

Date.prototype.isLeapYear = function () { 
    return Date.isLeapYear(this.getFullYear()); 
};

Date.prototype.getDaysInMonth = function () { 
    return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
};

Date.prototype.addMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() + value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	  
	  
Date.prototype.subMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() - value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	


Date.prototype.yyyymmdd = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();             
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
   };
   
 Date.prototype.yyyymmddhhmm = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();    
        var hh  = this.getHours().toString(); 
        var Min  = this.getMinutes().toString(); 		
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]) + ' ' + hh + ':' + Min;
   };
	
function handlevalidateSMSnumber(response)
{
  var index=0;

  $.unblockUI();
  
   var smsresponse = response.status;
  
  if(smsresponse == 'error')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: " +  smsrsponse_message + "\nBe sure to check correct phone for recent verification code")
		return;
  }
  
  if(smsresponse == 'badcode')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: " +  "Invalid verification code \nPlease reenter correct code")
		return;
  }
  if(smsresponse == 'expiredcode')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: "  + "verification code Expired \nPlease retry to add new phone")
		return;
  }
  
  if(smsresponse == 'expiredsession')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: "  + "User session expired \nPlease log baack on again")
		return;
  }
  
  
}
  
  
function handleupdateSMS(response)
{
  var index=0;

  $.unblockUI();
  
  var smsresponse = response.status;
  
  if(smsresponse == 'error')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: " +  smsrsponse_message + "\nTry logging out and then back again.")
		return;
  }
  
  if(smsresponse == 'exists')
  {
		var smsrsponse_message = response.message;
		
		alert("Warning: phone already exists and has been verified" )
		return;
  }
  
  if(smsresponse == 'expiredsession')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: "  + "User session expired \nPlease log baack on again")
		return;
  }
  
  if(smsresponse == 'deleted')
  {
		var smsrsponse_message = response.message;
		
		alert("Status: phone number has been deleted" )
		return;
  }
  

  var newSMSverificationcode = prompt("Please enter your SMS verification code:", "");
  
  
  
  
  
  
  
  	$.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	 
	var encodedSMSnumber = encodeURIComponent(document.getElementById("AlertSMS").value);
	 
	 
	var devicedataurl;
	
	var userid  = document.getElementById("DeviceTypeID").value;
	
    devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_cognito_confirm_sms_number?userid=" + userid + "&smscode=" + newSMSverificationcode+ "&devicekey=" + document.getElementById("DeviceKey").value + "&smsnumber=" + encodedSMSnumber;


    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handlevalidateSMSnumber(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });
		
		
		
  
  
  
}
	
function updateSMS()
{



var answer = confirm("Do you want to update your Alert SMS phone number?");

if (!answer) { return;}


	var confirm_message = "Adding a phone number will enable SMS alert messages\n";
	confirm_message = confirm_message + "configured from the HelmSmart ALERTS module.\n";
	confirm_message = confirm_message + "You may be charged for each SMS message\n \n";
	confirm_message = confirm_message + "You can opt-out by entering a blank phone number\n";	
	answer = confirm(confirm_message);

	if (!answer) { return; }
	
	var promptmessage = "Please enter your alert phone to receive SMS messages: \nLeave blank to remove number and opt-out of SMS alerts \n";
	promptmessage = promptmessage + "Use 11 digit international format \nMust start with + sign and international code \nexample: +15411234567";
	
	
	var newSMSnumber = prompt(promptmessage, document.getElementById("AlertSMS").value);
	if (newSMSnumber != null && newSMSnumber != "") {


	
	
		//^\+?(\d{1,3})?[-.\s]?(\(?\d{3}\)?[-.\s]?)?(\d[-.\s]?){6,9}\d$
		//const regex = /^\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$/;
		//regex = /^\d{11}$/;
		regex = /^\+[1-9]\d{1,14}$/;
		var validatedSMSnumber =  regex.test(newSMSnumber);
		
		if(validatedSMSnumber == false)
		{
			alert("Invalid format - use 11 digit international format \nMust start with + sign and international code \nexample: +15411234567");
			return
		}
		
			var encodedSMSnumber = encodeURIComponent(newSMSnumber);
	}
	else
	{
		var encodedSMSnumber = "";
		
		answer = confirm("Do you wish to remove existing SMS number from HelmSmart?");
		
		if (!answer) { return; }
	}
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + document.getElementById("DeviceKey").value; 
	
    //devicedataurl = `https://helmsmart-ello.herokuapp.com/getdevicesbyemail?useremail=${encodedSMSnumber}`;

   document.getElementById("AlertSMS").value = newSMSnumber;
		
		
	$.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
	var userid  = document.getElementById("DeviceTypeID").value;
	
    devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_cognito_update_sms_number?userid=" + userid +   "&devicekey=" + document.getElementById("DeviceKey").value + "&smsnumber="  + encodedSMSnumber + "&awsusername=" + gAWSUsername;


    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleupdateSMS(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });
		
		
		
		
		
	



}


function handlevalidateAlertEmail(response)
{
  var index=0;
  
  
  
  

  $.unblockUI();
  
  
  var smsresponse = response.status;
  
  if(smsresponse == 'error')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: " +  smsrsponse_message + "\nBe sure to check correct email for recent verification code")
		return;
  }
  
  
  
}
 

function handleupdateAlertEmail(response)
{
  var index=0;

  $.unblockUI();
  
  var smsresponse = response.status;
  
  if(smsresponse == 'error')
  {
		var smsrsponse_message = response.message;
		
		alert("Error: " +  smsrsponse_message + "\nTry logging out and then back again.")
		return;
  }
  
  if(smsresponse == 'exists')
  {
		var smsrsponse_message = response.message;
		
		alert("Warning: email already exists and has been verified" )
		return;
  }
  
  //getDeviceList(gUserEmail);
  
  var newSMSverificationcode = prompt("Please enter your Alert Email verification code:", "");
  
  
  	$.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	 
	var encodedSMSnumber = encodeURIComponent(document.getElementById("AlertEmail").value);
	 
	 
	var devicedataurl;
	
	var userid  = document.getElementById("DeviceTypeID").value;
	
    devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_cognito_confirm_sms_email?userid=" + userid + "&smscode=" + newSMSverificationcode+ "&devicekey=" + document.getElementById("DeviceKey").value + "&smsemail=" + encodedSMSnumber;


    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handlevalidateAlertEmail(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });
		
		
		
  
  
  
}

function updateAlertEmail()
{

var answer = confirm("Do you want to update your Alert Email?");

if (answer) {

	var newAlertEmail = prompt("Please enter your Alert Email:", document.getElementById("AlertEmail").value);
	if (newAlertEmail != null && newAlertEmail != "") {
	
	
		//^\+?(\d{1,3})?[-.\s]?(\(?\d{3}\)?[-.\s]?)?(\d[-.\s]?){6,9}\d$
		//const regex = /^\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$/;
		//regex = /^\d{11}$/;
		/*
		regex = /^\+[1-9]\d{1,14}$/;
		var validatedSMSnumber =  regex.test(newAlertEmail);
		
		if(validatedSMSnumber == false)
		{
			alert("Invalid format - use 11 digit international format");
			return
		}
		*/
		
		
	var encodedAlertEmail = encodeURIComponent(newAlertEmail);
	
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + document.getElementById("DeviceKey").value; 
	
    //devicedataurl = `https://helmsmart-ello.herokuapp.com/getdevicesbyemail?useremail=${encodedSMSnumber}`;

   document.getElementById("AlertEmail").value = newAlertEmail;
		
		
	$.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
	var userid  = document.getElementById("DeviceTypeID").value;
	
    devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_cognito_update_sms_email?userid=" + userid + "&smsemail=" + encodedAlertEmail + "&awsusername=" + gAWSUsername;


    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleupdateAlertEmail(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });
		
		
		
		
		
	}

}

}
function handle_get_deviceView()
{
     $.unblockUI();

}


function get_deviceView(index)
{


	gModifyIndex = index;
	//document.getElementById("DeviceTypeID").selectedIndex = index;
	document.getElementById("DeviceKey").value = myDeviceKey[index];
	document.getElementById("DeviceTypeID").value = myDeviceID[index];
	document.getElementById("DeviceName").value = myDeviceName[index];
	document.getElementById("AlertEmail").value = myAlertEmail[index];
	document.getElementById("AlertSMS").value = myAlertSMS[index];

	 devicedataurl = "https://helmsmart-ello.herokuapp.com/deviceview?deviceapikey=" + myDeviceID[index]+ "&devicename=" + myDeviceName[index]; 

	 window.location.href = devicedataurl
	
	/*
	 $.blockUI({ 
     message: '<h1>Updating Alert Event...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } });     

	 


	  //devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + myDeviceKey[dIndex]; 
	  devicedataurl = "https://helmsmart-ello.herokuapp.com/deviceview?deviceapikey=" + document.getElementById("DeviceKey").value; 




      return $.ajax({
      //async: false,
      cache: false,
      url: devicedataurl,
      dataType: "json",
      timeout: 10000,
      statusCode: {
      404: function() {      alert( "page not found" );    },
      200: function() {      }
      },
      success: function(response) {
      handle_get_deviceView(response)
      },
      complete: function() {
      // unblock when remote call returns
      // document.getElementById("SearchStatus").innerHTML = "Search Complete";
      //   ShowGraphSmartChart(gindex);
      //$.unblockUI();
      },
      error: function(request,status,errorThrown) {
      //document.getElementById("SearchStatus").innerHTML = "Pref Update Error";

      $.unblockUI();
      }
      });

	*/
	
	


}

function modifyData(index)
{

	gModifyIndex = index;
 //document.getElementById("DeviceTypeID").selectedIndex = index;
  document.getElementById("DeviceKey").value = myDeviceKey[index];
  document.getElementById("DeviceTypeID").value = myDeviceID[index];
 document.getElementById("DeviceName").value = myDeviceName[index];
  document.getElementById("AlertEmail").value = myAlertEmail[index];
   document.getElementById("AlertSMS").value = myAlertSMS[index];

  
   		if(gAWSPhoneVerified == "false")
		{
			document.getElementById("AlertSMS").style.color = "#75051A";
		}
			
      	if(gAWSEmailVerified == "false")
		{
			document.getElementById("AlertEmail").style.color = "#75051A";
		}
   
   $('.nav-tabs a[href="#tabModify"]').tab('show');


}

function ChangedDeviceTypeID(sel)
{


 //document.getElementById("DeviceName").value = myDeviceName[sel.selectedIndex];
 // document.getElementById("AlertEmail").value = myAlertEmail[sel.selectedIndex];
  // document.getElementById("AlertSMS").value = myAlertSMS[sel.selectedIndex];
 //  document.getElementById("DeviceKey").value = myDeviceKey[sel.selectedIndex];
}

function handleUpdateDevice(response)
{
  var index=0;

  $.unblockUI();
  
  getDeviceList(gUserEmail);
  
  }

function handleGetDeviceData(response)
{
  var index=0;
    var active_index=0;

  $.unblockUI();

var table = document.getElementById("DeviceData");
 
       var rowCount = table.rows.length;
	   
	 //  for(i=0; i<rowCount-1; i++)
	//		table.deleteRow(i);
			
	while(table.rows.length > 1) {
	

		table.deleteRow(1);
	}

	//document.getElementById("DeviceTypeID").options.length = 0;


   	myAlertEmail.length=0;
	myAlertSMS.length=0;
	myDeviceName.length=0;
	myDeviceID.length=0;
	myDeviceKey.length=0;
	myDeviceStatus.length=0;
	myDeviceApiCount.length=0;	
	mySubscriptionType.length=0;	
	mySubscriptionExpires.length=0;	
	
  response.records.forEach(function(row){
  
  
     // document.getElementById("DeviceTypeID").options[index++] = new Option(row[0] + ":" + row[1], row[0]);
	// document.getElementById("DeviceTypeID").options[index] = new Option(row[3] , row[3]);
	 
	myDeviceKey.push(row[0]); 
	myDeviceID.push(row[3]);
	myDeviceName.push(row[5]);	
	myDeviceStatus.push(row[6]);	
	myAlertEmail.push(row[7]);
	myAlertSMS.push(row[8]);
	myDeviceApiCount.push(row[9]);
	mySubscriptionType.push(row[11]);
	mySubscriptionExpires.push(row[14]);
	
 
	var ssrow = table.insertRow(1);


	
		// DeviceID
	    var cell0 = ssrow.insertCell(0);
		//cell0.innerHTML = row[3];
		cell0.innerHTML = '<a href="#" onclick="get_deviceView(' + index + '); return false;">' + row[3] + '</a>';
		
		cell0.style.textAlign = 'left';
		cell0.style.width = '110px';
		cell0.style.height = '25px';		
		cell0.classList.add('auto-style7'); 	
		//cell0.addEventListener("click", get_deviceView(index));		
		
		
		
		// Device Name
		 var cell1 = ssrow.insertCell(1);
		cell1.innerHTML = row[5];
		cell1.style.textAlign = 'left';
		cell1.style.width = '160px';
		cell1.style.height = '25px';		
		cell1.classList.add('truncate-text'); 
		cell1.classList.add('auto-style7'); 		
		
		//Alert Email
		var cell2 = ssrow.insertCell(2);
		
		if( gAWSAccountType == 'admin' && gAWSuserid == '000000000000')
		{
			cell2.innerHTML = row[2];
		}
		else
		{
			cell2.innerHTML = row[7];
		}
		
		
		cell2.style.textAlign = 'left';
		cell2.style.width = '160px';
		cell2.style.height = '25px';		
		cell2.classList.add('truncate-text'); 
		cell2.classList.add('auto-style7'); 
		

		
		//if(	myDeviceID[index].toUpperCase() == gAWSuserid.toUpperCase() )
		{
			cell2.style.color = '#75051A';
			if(row[15] == true)
				cell2.style.color = '#057552';
		}
		
		// Alert SMS
		var cell3 = ssrow.insertCell(3);
		cell3.innerHTML = row[8];
		cell3.style.textAlign = 'left';
		cell3.style.width = '100px';
		cell3.style.height = '25px';		
		cell3.classList.add('auto-style7'); 

		
		//if(	myDeviceID[index].toUpperCase() == gAWSuserid.toUpperCase() )
		{
			cell3.style.color = '#75051A';
			if(row[16] == true)
				cell3.style.color = '#057552';
		}
		
		//Subscritpion Type
		var cell4 = ssrow.insertCell(4);
		cell4.innerHTML = row[11];
		cell4.style.textAlign = 'center';	
		cell4.style.width = '80px';
		cell4.style.height = '25px';		
		cell4.classList.add('auto-style7'); 
		
		//Subscritpion expires
		var cell5 = ssrow.insertCell(5);
		cell5.innerHTML = row[14];
		cell5.style.textAlign = 'center';	
		cell5.style.width = '80px';
		cell5.style.height = '25px';		
		cell5.classList.add('auto-style7'); 		
		
			// Device API Count
		var cell6 = ssrow.insertCell(6);
		cell6.innerHTML = row[9];
		cell6.style.textAlign = 'center';	
		cell6.style.width = '60px';
		cell6.style.height = '25px';		
		cell6.classList.add('auto-style7'); 		
		
		// Device Status
		var cell7 = ssrow.insertCell(7);
		
		if(parseInt(row[4]) == 1 )
			cell7.innerHTML = 'active';
		else
			cell7.innerHTML = 'disabled';
			
		cell7.style.textAlign = 'center';
		cell7.style.width = '60px';
		cell7.style.height = '25px';
		cell7.classList.add('auto-style7'); 		


		
		// Modfy button
		var cell8 = ssrow.insertCell(8);
		cell8.innerHTML = "<button id='btnSettingsEventSave' name='btnValue' value='modify' class='btn btn-primary' onclick='modifyData(" +  index + ");'>modify</button>";
		cell8.style.textAlign = 'left';
		cell8.style.width = '100px';
		cell8.style.height = '25px';
		cell8.classList.add('auto-style7'); 
		
		//if( gAWSAccountType != 'admin' &&  gAWSuserid != '000000000000')
		//if( gAWSAccountType != 'admin' )
		if( gAWSuserid.toUpperCase() != 'FFFFFFFFFFFF' )
		{
			//check to disable row
			if(	myDeviceID[index].toUpperCase() != gAWSuserid.toUpperCase() )
			{
				ssrow.classList.add('row-disabled');
			}
			else if(	myDeviceID[index].toUpperCase() == gAWSuserid.toUpperCase() )
			{
						active_index = index;
			}
			

		}
		
		if( gAWSAccountType == 'admin' &&  gAWSuserid != '000000000000')
		{
			//check to disable row
			if(	myDeviceID[index].toUpperCase() != gAWSuserid.toUpperCase() )
			{
				ssrow.classList.add('row-disabled');
			}
		}
		
		
		index++;
		
		

  });

  
  //gAWSUsername
  
  
  
	document.getElementById("DeviceKey").value = myDeviceKey[active_index];
	document.getElementById("DeviceTypeID").value = myDeviceID[active_index];
    document.getElementById("DeviceName").value = myDeviceName[active_index];
	document.getElementById("AlertEmail").value = myAlertEmail[active_index];
	document.getElementById("AlertSMS").value = myAlertSMS[active_index];
   
   
   
    
}


  
  
  
  
  
  
function getDeviceList(useremail)
{

        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
	var encodedEmail = encodeURIComponent(useremail);
	
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + document.getElementById("DeviceKey").value; 
	
	if( gAWSAccountType == 'admin' &&  gAWSuserid == '000000000000')
	{
		devicedataurl = `https://helmsmart-ello.herokuapp.com/getalldevices`;
	}
	else
	{
		devicedataurl = `https://helmsmart-ello.herokuapp.com/getdevicesbyemail?useremail=${encodedEmail}`;
	}
	
  
	
	

    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleGetDeviceData(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });


}

function handleDeleteDevice(response)
{
  var index=0;

  $.unblockUI();
  
  getDeviceList(gUserEmail);
  
  }

function AWSDeleteDevice(index)
{


	if(gAWSAccountType == "sub user")
	{
		alert("Invalid: a sub user account can not delete a primary account")
		return;
	}


// The confirm() method pauses script execution until a button is clicked
 	var confirm_message = "Are you sure you want to delete device? \n";
	confirm_message = confirm_message + " \n ";
	confirm_message = confirm_message + "Subscription fees are not refundable and you will no longer \n";
	confirm_message = confirm_message + "be able to upload live data from your connected device.\n";
	confirm_message = confirm_message + " \n";
	confirm_message = confirm_message + "You will also loose access to any previous stored data\n ";
	confirm_message = confirm_message + "until you re-add device by purchasing a new subscription \n ";
	confirm_message = confirm_message + " \n ";
	confirm_message = confirm_message + "You must purchase a new subscription to restore live data uploads  \n ";


  var isConfirmed = confirm(confirm_message);


  if (!isConfirmed) {
    return;
  } 
  
  isConfirmed = confirm("Are you still sure? This can not be undone");


  if (!isConfirmed) {
    return;
  } 


        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
//	  document.getElementById("DeviceKey").value = myDeviceKey[index];
//  document.getElementById("DeviceTypeID").value = myDeviceID[index];
 //document.getElementById("DeviceName").value = myDeviceName[index];
//  document.getElementById("AlertEmail").value = myAlertEmail[index];
 //  document.getElementById("AlertSMS").value = myAlertSMS[index];
	
	
	//var deviceID = encodeURIComponent(gDeviceID);
	
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + document.getElementById("DeviceKey").value; 
	devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_delete_device?deviceapikey=" + myDeviceKey[index] + "&deviceid=" + myDeviceID[index] + "&awsusername=" + gAWSUsername;
    //devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_delete_device?deviceapikey=" + myDeviceKey[index] + "&deviceid=" + myDeviceID[index] + "&accesstokem=" + gAWSAccessToken;
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/getdevicesbyemail?useremail=joe@seagauge.com";

    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleDeleteDevice(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });


}

function handleCancelSubscription(response)
{
  var index=0;

  $.unblockUI();
  
  getDeviceList(gUserEmail);
  
  }

function AWSCancelSubscription(index)
{

	if(gAWSAccountType == "sub user")
	{
		alert("Invalid: a sub user account can not cancel a subscription")
		return;
	}


// The confirm() method pauses script execution until a button is clicked

	var confirm_message = "Are you sure you want to cancel your subscription? \n";
	confirm_message = confirm_message + " \n";
	confirm_message = confirm_message + "Subscription fees are not refundable and you will no longer \n";
	confirm_message = confirm_message + "be able to upload live data from your connected device \n";
	confirm_message = confirm_message + " \n";
	confirm_message = confirm_message + "You can still access any previous stored data using your current login\n ";
	confirm_message = confirm_message + " \n ";
	confirm_message = confirm_message + "You must purchase a new subscription to restore live data uploads\n";


  isConfirmed = confirm(confirm_message);

  if (!isConfirmed) {
    return;
  } 

  var isConfirmed = confirm("Are you still sure? This can not be undone");


  if (!isConfirmed) {
    return;
  } 
  
        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
//	  document.getElementById("DeviceKey").value = myDeviceKey[index];
//  document.getElementById("DeviceTypeID").value = myDeviceID[index];
 //document.getElementById("DeviceName").value = myDeviceName[index];
//  document.getElementById("AlertEmail").value = myAlertEmail[index];
 //  document.getElementById("AlertSMS").value = myAlertSMS[index];
	
	
	//var deviceID = encodeURIComponent(gDeviceID);
	
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + document.getElementById("DeviceKey").value; 
	
    devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_cancel_subscription?deviceapikey=" + myDeviceKey[index] + "&deviceid=" + myDeviceID[index];
	//devicedataurl = "https://helmsmart-ello.herokuapp.com/getdevicesbyemail?useremail=joe@seagauge.com";

    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleCancelSubscription(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });


}

function LogoutDevice()
{

	document.cookie = "session=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";

   	
	
	
    const logoutUri = "https://helmsmart-ello.herokuapp.com/aws_alerts_logout"; // e.g., 'http://localhost:3000/logout'

    
    window.location.href = `${gAWSDomain}/logout?client_id=${gAWSClientID}&logout_uri=${encodeURIComponent(logoutUri)}`;


}

function AWSUpdateDevice()
{

	//LogoutDevice();
	
	//window.location.href = "https://<your_user_pool_domain>/oauth2/authorize?..."

	
	//https://<your_user_pool_domain>/oauth2/authorize?response_type=code&client_id=<your_client_id>&redirect_uri=<your_redirect_uri>&login_hint=<desired_username>
	//https://us-west-2wecvqzcbs.auth.us-west-2.amazoncognito.com/login?client_id=7brk233gasbns1ee67i86el2c8&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+phone&redirect_uri=https%3A%2F%2Fwww.helmsmart-cloud.com%2Faws_alerts_get_user_data
	
	
   //const clientId = '7brk233gasbns1ee67i86el2c8';
   //const redirectUri = "https://helmsmart-ello.herokuapp.com/aws_alerts_get_user_data"; // e.g., 'http://localhost:3000/logout'
   //const cognitoDomain = "https://us-west-2wecvqzcbs.auth.us-west-2.amazoncognito.com";
   
   	//const clientId = '1cnj67tecv5hppk2b8k2gifbi0';
    //const logoutUri = "https://helmsmart-ello.herokuapp.com/aws_alerts_logout"; // e.g., 'http://localhost:3000/logout'
    //const cognitoDomain = "https://us-west-2kkr4livxs.auth.us-west-2.amazoncognito.com";
    
    window.location.href = "https://helmsmart-ello.herokuapp.com/aws_login"
	//window.location.href = `${cognitoDomain}/oauth2/authorize?response_type=code&client_id=${clientId}&state=0&redirect_uri=${encodeURIComponent(redirectUri)}`;

	//window.location.href = `${cognitoDomain}/login?response_type=code&client_id=${clientId}&state=0&scope=aws.cognito.signin.user.admin+email+openid+phone&redirect_uri=${encodeURIComponent(redirectUri)}`;
	//window.location.href = `${cognitoDomain}/login?response_type=token&client_id=${clientId}&state=0&scope=aws.cognito.signin.user.admin+email+openid+phone&redirect_uri=${encodeURIComponent(redirectUri)}`;
}

function UpdateDevice()
{
var dIndex=0;

//dIndex = document.getElementById("DeviceTypeID").selectedIndex;


 $.blockUI({ 
     message: '<h1>Updating Alert Event...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } });     

	 


	  //devicedataurl = "https://helmsmart-ello.herokuapp.com/updatedevice?deviceapikey=" + myDeviceKey[dIndex]; 
	  devicedataurl = "https://helmsmart-ello.herokuapp.com/aws_update_devicename?deviceapikey=" + document.getElementById("DeviceKey").value; 
	  devicedataurl = devicedataurl + "&deviceid=" + document.getElementById("DeviceTypeID").value; 
	  devicedataurl = devicedataurl + "&devicename=" + document.getElementById("DeviceName").value; 
	  //devicedataurl = devicedataurl + "&alertemail=" +  document.getElementById("AlertEmail").value; 
	  //devicedataurl = devicedataurl + "&alertsms=" + document.getElementById("AlertSMS").value;



      return $.ajax({
      //async: false,
      cache: false,
      url: devicedataurl,
      dataType: "json",
      timeout: 10000,
      statusCode: {
      404: function() {      alert( "page not found" );    },
      200: function() {      }
      },
      success: function(response) {
      handleUpdateDevice(response)
      },
      complete: function() {
      // unblock when remote call returns
      // document.getElementById("SearchStatus").innerHTML = "Search Complete";
      //   ShowGraphSmartChart(gindex);
      //$.unblockUI();
      },
      error: function(request,status,errorThrown) {
      //document.getElementById("SearchStatus").innerHTML = "Pref Update Error";

      $.unblockUI();
      }
      });

}
  
</script>

</head>
<body>
	<div class="container body-content">
		

<p id="introText">With this datapane you can sign up for the HelmSmart-Cloud 
Alert service</p>
<div id="idMarketing">
	<img src="static/img/SeaGaugeG4_200W.jpg" style="float: right; margin: 5px;" onclick="window.open('https://digitalmarinegauges.com/seagauge-g4-24-function-sensor-interface-unit-with-wifi-can-bus/', '_blank');" /><p>
	SeaGaugeG4 and SeaSmartG3 devices can send data directly to HelmSmart-Cloud 
	services using any internet connection where it is stored in real time for 
	off-line analytics,</p>
	<p>Stored data can be <a href="https://www.helmsmart-cloud.com/graphsmart">time series graphed </a>or <a href="https://www.helmsmart-cloud.com/mapsmart">overlayed on google maps</a>.</p>
	<p>You can also create <a href="https://www.helmsmart-cloud.com/dashboards_list">customized real-time dashboards </a> and <a href="https://www.helmsmart-cloud/netgauges">virtual 
	insturmentation</a> pages.</p>
	<p>HelmSmart-Cloud also offers a seperate real-time Alerts module which 
	analyzes incoming sensor data with configured alert thresholds to generate 
	Alerts via configured Emails and SMS trigger. It is also possible to have 
	alerts trigger on-board relay drivers (SeaGaugeG4) and embedded PWM lighting 
	controllers (SeaSmartG3)</p>
	<p>The HelmSmart-Cloud Alert service is a paid subscription. You can 
	purchase monthly or yearly service plans.</p>
	<p>Subscription plans do not auto renew and you must repurchase plans at end 
	of term to continue service.</p>
	<p>Use the <strong>PURCHASE</strong> buttons below to select your desired 
	plan and enter payment information</p>
	<p>When entering your purchase information, you must specify the <strong>
	DeviceID</strong> in the Invoice Number field as shown.</p>
	<p>
	<img alt="" height="305" src="static/img/InvoiceNumberFields_800W.jpg" width="800"></p>
	<p>&nbsp;</p>
	<p> HelmSmart-Cloud will use the email and phone numbers entered on the 
	purchase form for sending alerts.</p>
	<p> Be sure to enter a valid email for receiving your account 
	invitation/confirmation and temporary password. You will be able to reset 
	your password on first login</p>
	<p> Using a phone number for SMS Alerts is optional. If entering a SMS phone 
	number, be sure to include the country code or 1 for USA based numbers. </p>
	<p> You will be charged receive SMS rates by your carrier depending on your 
	plan. You can opt out of SMS messages by leaving the phone number blank or 
	disabling SMS alerts in the ALERTS configuration page</p>
	<p> 
	<img alt="" height="309" src="static/img/EmailPhoneNumberFields_800W.jpg" width="800"></p>
	<p> &nbsp;</p>
	<p> After your purchase is completed, you will receive a 
	confirmation/invitation email with your username (deviceID) and a single use 
	temporary password with a link to the HelmSmart-Cloud device management page 
	where you can create your initial login and reset the temporary password.</p>
	<p> You will need to click the <strong>Manage: Guest - login</strong> button 
	to initiate the sign-in</p>
	<p> 
	<img alt="" height="124" src="static/img/ManageLink-Guest.jpg" width="725"></p>
	<p> Once you are logged into your device management page, you will need to 
	validate your new account email and SMS phone before you can start receiving 
	alerts.</p>
	<p> The SUMMARY tab will list all registered devices under your email 
	account but only enable the currently logged in device. If the email or SMS 
	phone are displayed in red - you will need to first validate them before 
	use. </p>
	<p> Select the MODIFY tab and click on the Alert Email or Alert SMS fields 
	to complete validation and opt in to receive Alerts.</p>
	<p> To modify a different device, you will need to first log out of the 
	current device by selecting the HelmSmart link at the top of the page</p>
	<p>By purchasing a subscription plan you agree to have configured alert 
	messages sent to provided email and phone numbers for the duration of 
	subscription. You can disable messages by removing email or phone number 
	from alert configuration.</p>
	<p>
		If you already have purchased a Helmsmart-Cloud Alerts Subcription, use the LOGIN button at the top of this page to enter your account information then use the
		Summary tab to view your enabled devices and configure email and SMS 
		phone numbers for receiving Alerts.</p>
	<p>
		To configure actual sensor alerts for each device - use the
		<a href="https://www.helmsmart-cloud.com/alertsmart"> ALERTS</a> button on the main
		<a href="https://www.helmsmart-cloud.com/"> HelmSmart-Cloud</a> home page</p>

	<p>Yearly subscriptions are offered at a 10% discount from monthly plans</p>
	<p>&nbsp;</p>
	<div style="margin: 15px;">
	
	<table>
	<tr>
	<td colspan="3">
	<center><span class="auto-style5">Purchase Subscriptions</span></center>
	</td>

	</tr>
	
	<tr >

	<td colspan="3">
	<center>
		
	<form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx">
	  <input type="hidden" name="LinkId" value="16826504-0474-4074-b67d-391392a37191" />
	  
	  <center><input type="image" src="{{ url_for('static', filename='img/OrderYearlyButtonSmall.jpg' ) }}" /></center>
	</form>
	</center>	
	</td>
	</tr>
		<tr>
	<td class="auto-style6">
	<a width="250" href="http://helmsmart-ello.herokuapp.com/privacypolicy" id="privacypolicy" 
      <span width="250">Privacy Policy</span></a>
	</td>
	<td class="auto-style6">
	<a width="250" href="http://helmsmart-ello.herokuapp.com/termsofuse" id="awstermsofuse" 
      <span width="250">Terms of Use</span></a>
	</td class="auto-style5">
	<td class="auto-style6">
	<a width="250" href="http://helmsmart-ello.herokuapp.com/optoutpolicy" id="awsoptout" 
      <span width="250">Alerts Opt Out</span></a>
	</td>
	</tr>
	</table>
 
	</div>

</div>


	</div>

	<br>

	<script>
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
	</script>


</body>

</html>


	</div>



		<div class='tab-pane' id="tabBasicSettings">
			

	<div class="form-group text-center text-info" style="margin-top:10px;"  >
<div class="alertdiv" id="report_data" style="width:100%; height:10%; display: block">


 <Table class="wrap-table" id="DeviceData" border="0" cellspacing="1" cellpadding="1"  style="width:100%; display: block">

      <thead >
        <TR>
          <th style="width:110px; height:30px;" >Device ID</th>
		  <th style="width:160px; height:30px;" >Name</th>
		  <th style="width:160px; height:30px;" >Alert-Email</th>
          <th style="width:100px; height:30px;" >Alert-SMS</th>    
		  <th style="width:80px; height:30px;" >Subscription</th>  
		  <th style="width:80px; height:30px;" >Expires</th>  
		  <th style="width:60px; height:30px;" >API</th> 
		  <th style="width:60px; height:30px;" >Status</th>
		  <th style="width:100px; height:30px;" >&nbsp;</th>
		</TR>
      </thead>
      <tbody class="wrap-table" ></tbody>
      
    </Table>

  </div>
		</div>
		</div>
	
	
	
		<div class="tab-pane" id="tabModify">
		

			
<!-- <form action="/TrackerDatapane/SettingsModify" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tabModify" id="form1" method="post">	-->
	<div class="form-horizontal">

<div class="form-group">

			<div class="form-group">	
			 <label class="control-label col-sm-2" for="DeviceKey">Device API</label> 
			 <div class="col-sm-8"> 
			<input type="text" class="form-control text-box single-line" id="DeviceKey" placeholder="000000000000" readonly style="width:300px;">		
			</div>
		</div>



			<label class="control-label col-sm-2" for="DeviceTypeID">Device ID</label>
			<div class="col-sm-8">
			
			<input type="text" class="form-control text-box single-line" id="DeviceTypeID" placeholder="000000000000" readonly style="width:300px;">	
			
			</div>
		</div>

		
			<div class="form-group">	
			 <label class="control-label col-sm-2" for="DeviceName">Device Name</label> 
			 <div class="col-sm-8"> 
			<input type="text" class="form-control text-box single-line" id="DeviceName" placeholder="SeaSmart" style="width:300px;">	
			</div>
		</div>
	
	
	<div class="form-group">	
			 <label class="control-label col-sm-2" for="AlertEmail">Alert Email</label> 
			 <div class="col-sm-8"> 
			<input type="text" class="form-control text-box single-line"  type="email" id="AlertEmail" placeholder="" style="width:300px;" readonly " >	
			<span class="field-validation-valid text-danger" data-valmsg-for="AlertEmail" data-valmsg-replace="true"></span>
			</div>
		</div>  
		
		
			<div class="form-group">	
			 <label class="control-label col-sm-2" for="AlertSMS">Alert SMS</label> 
			 <div class="col-sm-8"> 
			<input type="text" class="form-control text-box single-line"  type="tel" id="AlertSMS" placeholder="" style="width:300px;" readonly " >
			<span class="field-validation-valid text-danger" data-valmsg-for="AlertSMS" data-valmsg-replace="true"></span>
	
			</div>
		</div>  
	
	
					<div class="form-group" style="margin-top:25px;">
				
			<div class="col-sm-offset-4 col-sm-4">
			
				<button id="btnSettingsEventSave" name="btnValue" value="Update" class="btn btn-primary" onclick="AWSUpdateDevice();">Login</button>
				<button id="btnSettingsEventSave" name="btnValue" value="Save" class="btn btn-primary" onclick="UpdateDevice();">Update</button>
				<!-- <button id="btnSettingsEventDelete" name="btnValue" value="Delete" class="btn btn-primary" onclick="DeleteAlert();">Delete</button> -->
				<!-- <button name="btnValue" value="Cancel" class="btn btn-default cancel">Cancel</button> -->
				
				<button id="btnSettingsEventlogout" name="btnValue" value="Delete" class="btn btn-primary" onclick="AWSDeleteDevice(gModifyIndex);">Delete</button>
			<!-- <button id="btnSettingsEventcancel" name="btnValue" value="CancelSubscription" class="btn btn-primary" onclick="AWSCancelSubscription(gModifyIndex);">Cancel Subscription</button> -->
			
			
			</div>
		</div>
		
		
		</div>
</form>
		</div>
	
	
	

		




</body>

</html>

